.main{
    text-align: center;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 120px;
    width: 80%;
}
.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.product{
    width: 250px;
    height: auto;
    margin: 10px;
    border: 1px solid #30363B;
}
.addCart{
    background-color: #343A40;
    color: white;
    width: 100px;
    font-size: 20px;
    border: none;
}